.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background: #dbdbdb;
}
.products-cart {
  padding: 0 2rem;
}
.my-sup {
  font-size: small;
}
